.background {
    background-color: blue;
    color: white ;
    font-size: 30px;
    text-align: center;
}

.aside {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}

.search {

    height: 10%;
    width: 25%;
}

.nav {
    display: flex;
    direction: column;
}
}